body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(92, 200, 164);
    color: #343434;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 3em;
}

i.wi {
    font-size: 5em;
    line-height: 2em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1em;
}

